:root {
  --navbar-height: 80px;
  --container-size: 1200px;

  --color-primary: #107887;
  --color-button-secondary: #ce8705;
  --color-button-tertiary: #7c7c7c;
  --color-secondary: #e4f9f6;
}

body {
  font-size: 1rem
}