@use '../core';

.view {
  display: inline-block;
  text-decoration: none;

  text-align: center;
  font-size: core.pxToRem(20);
  color: white;

  border: none;
  border-radius: 5px;

  padding-inline: 40px;
  padding-block: 16px;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(1.2);
  }
}

.primary {
  background-color: var(--color-primary);
}

.secondary {
  background-color: var(--color-button-secondary);
}

.tertiary {
  background-color: var(--color-button-tertiary);
}

.wide {
  display: block;
}

.big {
  font-size: core.pxToRem(20);
  padding-block: 20px;
}

.disabled {
  opacity: 0.6;

  &:hover {
    filter: none;
  }
}