@use '../core';

.view {
  display: inline-block;
  text-decoration: none;

  text-align: center;
  font-size: core.pxToRem(16);
  color: white;
  font-weight: 500;

  border-radius: 5px;

  padding-inline: 40px;
  padding-block: 12px;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(1.2);
  }
}

.primary {
  background-color: #029d99;
  border: 1px solid #5AE0CC;
}

.secondary {
  background-color: #026461;
  border: 1px solid #5AE0CC;
}

.tertiary {
  background-color: #7c7c7c;
  border: 1px solid #5e5e5e;

}

.wide {
  display: block;
}

.big {
  font-size: core.pxToRem(20);
  padding-block: 20px;
}

.disabled {
  opacity: 0.6;

  &:hover {
    filter: none;
  }
}