@use '../core';

.view {
  position: relative;

  display: flex;
  flex-direction: column;

  text-decoration: none;

  border: 1px solid #1a4f4a;
  background-color: #101818;
  border-radius: 10px;

  color: white;

  max-width: 460px;
  margin-inline: auto;

}

.head_image {
  width: 100%;
  height: auto;
  object-fit: contain;

  border-radius: 10px;
}

.content {
  flex: 1;

  padding-inline: 40px;
  padding-block: 20px;

  @include core.mediaQuery("medium") {
    padding-inline: 24px;
    padding-block: 12px;
  }
}

.price_section {
  padding-inline: 40px;
  padding-block: 20px;
}

.title {
  text-transform: uppercase;
  font-size: core.pxToRem(30);
  color: white;

  margin-block: 8px;
}

.text {
  margin-block: 16px;

  line-height: 1.2;
  font-size: core.pxToRem(20);
}

.old_pricing {
  text-align: right;
  font-size: core.pxToRem(20);
  font-weight: 400;
  color: #8da9b0;
  margin-block: 0;
  text-decoration: line-through;
}

.pricings {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
}
.upcoming_price {
  font-size: core.pxToRem(20);
  font-weight: 600;

  margin-block: 0;
  padding-inline: 20px;
  padding-block: 8px;
  border-radius: 4px;

  background-color: #c06303;
}
.pricing {
  font-size: core.pxToRem(36);
  font-weight: 800;

  margin-block: 0;
}

@keyframes text-wizz {
  0%,
  5%,
  50%,
  100% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-10px); /* shake to the left */
  }
  20% {
    transform: translateX(10px); /* shake to the right */
  }
  30% {
    transform: translateX(-5px); /* shake to the left */
  }
  40% {
    transform: translateX(5px); /* shake to the right */
  }
}

.hot_badge {
  position: absolute;
  top: -10px;
  right: 20px;

  background-color: #08b7a2;
  color: white;
  border: 1px solid #08b7a2;
  font-weight: 800;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  width: 80px;

  border-radius: 4px;

  text-transform: uppercase;
  font-size: core.pxToRem(20);
  animation: text-wizz 1.2s infinite; /* Apply the animation */
}

.button_container {
  margin-inline: 20px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}