@use '../core';

.view {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

  @include core.mediaQuery("medium") {
    gap: 8px;
  }

  @include core.mediaQuery("small") {
    grid-template-columns: repeat(1, 1fr);
  }
}
