@use '../core';

.view {
}

.head {
  display: flex;
  align-items: center;
}

.profile_picture {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.author {
  margin-inline-start: 20px;
  margin-block: 0;

  font-size: core.pxToRem(21);
  font-weight: 700;
  color: white;
}

.content {
  margin-block: 0;
  margin-top: 20px;

  font-size: core.pxToRem(21);
  line-height: 1.4;
  font-weight: 400;
  color: white;
}

.stars {
  margin-top: 20px;

  display: flex;
  align-items: center;
  font-size: core.pxToRem(28);
  gap: 8px;
  color: #5AE0CC;
}