@use "@ancyracademy/shared/src/core" as core;

.blog_section {
  margin-top: 80px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 20px;

  @include core.mediaQuery("large") {
    grid-template-columns: 1fr 1fr;
    column-count: 2;
  }

  @include core.mediaQuery("small") {
    margin-top: 20px;
    grid-template-columns: 1fr;
    grid-auto-rows: initial;
  }
}

.blog_post_link {
  text-decoration: none;
  display: flex;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(1.2);
  }
}

.blog_post {
  display: flex;
  flex-direction: column;

  border: 1px solid #1a4f4a;
  background-color: #101818;
  border-radius: 10px;
  overflow: hidden;
}

.blog_title {
  color: white;
  background-color: #029d91;
  margin-block: 0;

  padding: 20px;
  font-size: core.pxToRem(30);
  text-transform: uppercase;
  font-weight: 800;
}

.blog_content_section {
  flex: 1;
  display: flex;
  flex-direction: column;

  padding-inline: 24px;
  padding-block: 24px;
}

.blog_excerpt {
  color: white;
  font-size: core.pxToRem(20);
  line-height: 1.3;
  flex: 1;

  p {
    margin: 0;
  }
}

.read_more {
  color: #40fde5;
  font-size: core.pxToRem(18);
  text-decoration: none;
  display: inline-block;

  margin-top: 12px;
}