@use "@ancyracademy/shared/src/core" as core;

.blog_section {
  margin-top: 80px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 20px;

}

.blog_post_link {
  text-decoration: none;
  display: block;
  border: 1px solid transparent;

}

.blog_post {
  height: max-content;
  padding-inline: 32px;
  padding-block: 16px;

  border: 1px solid #1a4f4a;
  background-color: #101818;
  border-radius: 10px;

  margin-inline: auto;
  color: white;


  @include core.mediaQuery("medium") {
    padding-inline: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.blog_title {
  font-size: core.pxToRem(30);
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 16px;
}

.blog_excerpt {
  font-size: core.pxToRem(20);
  margin-bottom: 16px;
  line-height: 1.3;

  p {
    margin: 0;
  }
}