@use "@ancyracademy/shared/src/core" as core;

.page {
  margin-top: 60px;
}

.title {
  font-size: core.pxToRem(56);
  margin-top: 0;
  color: white;
}

.content {
  color: #f1f1f1;


  img {
    width: 100%;
    object-fit: contain;
  }

  h1 {
    font-size: core.pxToRem(40);
  }

  h2 {
    font-size: core.pxToRem(30);
  }

  h3 {
    font-size: core.pxToRem(25);
  }

  p, ul li {
    font-size: core.pxToRem(20);
    line-height: 1.5;
  }

  p, ul, h1, h2, h3 {
    margin-bottom: 32px;
  }

  a {
    color: #40fde5;
    text-decoration: none;
    transition: filter .2s;

    &:hover {
      filter: brightness(1.5);
    }
  }

  :global(.notice) {
    padding-block: 32px;
    padding-inline: 32px;

    border-radius: 8px;
    margin-bottom: 16px;

    & p:first-child {
      margin-top: 0;
    }

    & p:last-child {
      margin-bottom: 0;
    }

    &:global(.info) {
      background-color: #0d7259;
      color: white;
    }

    &:global(.warning) {
      background-color: #8c5f0e;
      color: white;
    }
  }
}