@use '../core';

.content_body {
  margin-top: 80px;
}

.moneyback {
  background-color: var(--color-primary);
  border-radius: 5px;

  padding: 40px;

  h2 {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: core.pxToRem(32);
  }

  p {
    color: white;
    font-size: core.pxToRem(22);

    line-height: 1.3;
  }
}

.companies {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 40px;

  img {
    width: 100%;
    max-width: 180px;
  }
}