@use '../core';

.content_body {
  margin-top: 80px;
}

.companies {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  margin-top: 40px;
  gap: 40px;

  img {
    width: 100%;
    max-width: 180px;
  }

  @include core.mediaQuery("small") {
    img {
      max-width: 100px;
    }
  }
}

.launching_offer {
  background-color: #c95c00;
  border-radius: 5px;

  padding: 20px 40px;

  h2 {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: core.pxToRem(32);
  }

  p {
    color: white;
    font-size: core.pxToRem(24);

    line-height: 1.3;
  }
}