@use '../../core';

.view {
  border-top: 1px solid #192B2A;
  padding-block: 80px;
  margin-top: 20px;

  @include core.mediaQuery("medium") {
    padding-block: 60px;
  }
}

.inner {
  display: flex;
  justify-content: space-between;

  @include core.mediaQuery("medium") {
    flex-direction: column;
    justify-content: initial;
    gap: 60px;
  }

  @include core.mediaQuery("small") {
    gap: 30px;
  }
}

.resume_section {
}

.title {
  margin-block: 0;

  text-transform: uppercase;
  font-size: core.pxToRem(21);
  font-weight: 700;
  color: white;
}

.subtitle {
  margin-block: 0;
  margin-bottom: 10px;

  font-size: core.pxToRem(20);
  font-weight: 300;
  color: #E6E5E5;
}

.icons {
  display: flex;
  align-items: center;

  margin-top: 24px;
  gap: 20px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #E6E5E5;
  font-size: core.pxToRem(28);
  cursor: pointer;

  &:hover {
    color: white;
  }
}

.copyright {
  margin-block: 0;
  margin-top: 24px;

  font-size: core.pxToRem(20);
  font-weight: 300;
  color: #b4b3b3;
}

.links_section {
  display: flex;
  gap: 80px;

  @include core.mediaQuery("medium") {
    flex-direction: column;
    justify-content: initial;
    gap: 60px;
  }

  @include core.mediaQuery("small") {
    gap: 30px;
  }
}

.single_section {

}

.section_title {
  margin-block: 0;

  text-transform: uppercase;
  font-size: core.pxToRem(21);
  font-weight: 700;
  color: white;
}

.section_links {
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  @include core.mediaQuery("small") {
    gap: 8px;
  }
}

.section_single_link {
  font-size: core.pxToRem(20);
  font-weight: 300;
  color: #E6E5E5;
  text-decoration: none;

  &:hover {
    color: white;
  }
}