@use '../../core';

.view {
  background-color: rgba(77, 213, 255, 0.2);
  border-bottom: 1px solid #44CDE3;

}

.inner_view {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 40px;

  display: flex;
  align-items: center;


  height: var(--navbar-height);

  @include core.mediaQuery("small") {
    max-width: initial;
    padding-inline: 18px;
    justify-content: initial;
  }
}

.logo {
  width: 200px;
  @include core.mediaQuery("small") {
    display: none;
  }
}

.menu {
  margin-top: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  list-style: none;
  gap: 28px;

  li {
    display: block;
  }

  a {
    font-size: core.pxToRem(18);
    color: #DFDFDF;
    text-decoration: none;

    &:hover {
      color: white;
    }
  }

  @include core.mediaQuery("small") {
    gap: 14px;
  }
}

.menu_hot a {
  background: linear-gradient(to right, #83ebfa, #A8FA7D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}


.separator {
  flex: 1;
}

.students_space {
  @include core.mediaQuery("medium") {
    display: none;
  }
}